<ion-view title="Home" id="page1">
    <ion-content padding="true" class="has-header">
        <div class="button-bar">
            <a ui-sref="menu.aPLICATIVO_Produto" id="home-button6" class="button button-positive  button-block">PRODUTO</a>
        </div>
        <a ui-sref="menu.SERVIOCURSO" id="home-button7" class="button button-positive  button-block">SERVIÇO</a>
        <a ui-sref="menu.eTECEMPRESA" id="home-button8" class="button button-positive  button-block">EMPRESA</a>
        <div class="button-bar">
            <button id="home-button9" class="button button-positive  button-block">CONTATO</button>
        </div>
        <button id="home-button10" class="button button-positive  button-block">REDE SOCIAL</button>
    </ion-content>
</ion-view>