<ion-view title=" SERVIÇO- CURSO" id="page6">
    <ion-content padding="true" class="has-header">
        <div>
            <a style="display:block;" href="#" onclick="window.open('https://creator.ionic.io/app/dashboard/projects', '_system', 'location=yes'); return false;">
                <img src="img/Z4MvhPBSSraJFk5JT04e_creator-logo.png" width="250" height="75" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div id="SERVIOCURSO-markdown2" style="color:#000000;">
            <pre>
                <code>O nosso curso tem o foco em desenvolvimento de aplicativos em plataforma "Híbidra" e para isso utilizamos uma ferramenta muito importante chamada Ionic Creator. O que é aplicação Híbidra ? Uma aplicação móvel híbidra é muito vantajosa,
                    pois basicamente com o mesmo código desenvolvido, será utilizado para diversos sistemas, como IOS, Windows Phone, Androi e outros, ou seja basicamente se resume a "Escreva uma vez, e rode em todos os lugares" By Wennder Santos O que
                    é o Ionic Creator ? Ionic é um completo open-source SDK para o híbrido aplicativo móvel de desenvolvimento.</code>
            </pre>

            <p>Construído no topo de AngularJS e Apache Cordova , Ionic fornece ferramentas e serviços para o desenvolvimento de aplicativos móveis híbridos usando tecnologias web como CSS , HTML5 e Sass . Aplicativos podem ser construídos com essas tecnologias
                da Web e, em seguida, distribuídos através nativas lojas de aplicativos a serem instalados em dispositivos, aproveitando Cordova.Ionic foi criada por Max Lynch, Ben Sperry, e Adam Bradley de Drifty Co. em 2013.</p>

            <p>Para conhecer um pouco mais dessa ferramenta incrivel, clique no logo acima e você será redirecionado a pagina do Ionic Creator.</p>
        </div>
    </ion-content>
</ion-view>